.news-containerB{
    margin-left: -2rem;
}

.news-containerB__list{
    display: grid;
    grid-template: "grid-2-1 grid-2-1 grid-2-5 grid-2-5"
                   "grid-2-2 grid-2-2 grid-2-5 grid-2-5"
                   "grid-2-3 grid-2-3 grid-2-6 grid-2-6"
                   "grid-2-4 grid-2-4 grid-2-6 grid-2-6"
                   "grid-2-7 grid-2-8 grid-2-9 grid-2-10"
    ;
    width: 73vw;
    gap: .5rem;
}

.news-containerB__list h2{

    margin:0 auto;
}


.grid-2-1{
    grid-area: grid-2-1;
}

.grid-2-2{
    grid-area: grid-2-2;
}
.grid-2-3{
    grid-area: grid-2-3;
}
.grid-2-4{
    grid-area: grid-2-4;
}
.grid-2-5{
    grid-area: grid-2-5;
}
.grid-2-6{
    grid-area: grid-2-6;
}
.grid-2-7{
    grid-area: grid-2-7;
}
.grid-2-8{
    grid-area: grid-2-8;
}
.grid-2-9{
    grid-area: grid-2-9;
}
.grid-2-10{
    grid-area: grid-2-10;
}

.news-containerB__item{
    display: flex;
    line-height: 1.5rem;
}

.news-containerB__item:nth-child(1){
    width: 35.8vw;
}
.news-containerB__item:nth-child(2){
    width: 35.8vw;
}
.news-containerB__item:nth-child(3){
    width: 35.8vw;
}
.news-containerB__item:nth-child(4){
    width: 35.8vw;
}

.news-containerB__item:nth-child(5){
    border-radius: 2rem;
    background-image: url('/css/imagens/imagensMain/Capturar-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 19.6rem;
}


.news-containerB__item:nth-child(6){
    border-radius: 2rem;
    background-image: url('/css/imagens/imagensMain/Capturar-8.jpg');
    width: 35vw;
    height: 19.6rem;
}



.news-containerB__item:nth-child(7){
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 17.2vw;
}
.news-containerB__item:nth-child(7) img{
    border-radius: 2rem;
    width: 17.2vw; 
}

.news-containerB__item:nth-child(8){
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 17.2vw;
}
.news-containerB__item:nth-child(8) img{
    border-radius: 2rem;
    width: 17.2vw; 
}

.news-containerB__item:nth-child(9){
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 17.2vw;
}
.news-containerB__item:nth-child(9) img{
    border-radius: 2rem;
    width: 17.2vw; 
}

.news-containerB__item:nth-child(10){
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 17.2vw;
}
.news-containerB__item:nth-child(10) img{
    border-radius: 2rem;
    width: 17.2vw; 
}

 
.news-containerB__link{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
 
.news-containerB__link img{
    border-radius: 2rem;
    width: 17.2vw;
}
 
 