.news-containerA{
    display: grid;
    gap: 1rem;
    grid-template-areas: "grid-1-1 grid-1-2 grid-1-3"
                         "grid-1-1    0     grid-1-3"
                         "grid-1-1 grid-1-4 grid-1-4";
    margin: 0 auto;
    width: 73vw;
}                   

 
.grid-1-1{
    grid-area: grid-1-1;
}
.grid-1-2{
    grid-area: grid-1-2;
}

.grid-1-4{
    grid-area: grid-1-4;
}



.news-containerA__link:not(:last-child){
    align-items: center;
    display: flex;
    height: 10rem;
    width: 12.5rem;
    margin-right: .5rem;
}

  
.news-containerA__link:not(:last-child) h3, li{
    margin-left: 1.5rem;
    color: white;
}

 
.news-containerA__link:nth-child(1){ 
    background-image: url(/css/imagens/imagensMain/dragas-atracam-rio-amazonia-1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 2rem;
    height: 21rem;
    width: 39vw;
    line-height: 2rem;
}
 

.news-containerA__link:nth-child(2){
    background-image: url(/css/imagens/imagensMain/20170830modelos-de-casas-pequenas-4-1.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.news-containerA__link:nth-child(3){
    background-image: url(/css/imagens/imagensMain/20170830modelos-de-casas-pequenas-4-1.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-left: -1rem;
}

 
.news-containerA__link:nth-child(4){
    display: flex;
    align-items: center;
    color: #292929;
    border-radius: 2rem;
    margin-top: -1rem;
}

.news-containerA__link:nth-child(4) img{
    border-radius: 2rem;
    height: 10rem;
    margin-right: 1rem;
    width: 14.6vw;
}
.news-containerA__link:nth-child(4) p{
    color: #626262;
}



@media screen and (max-width:1024px) {

    .news-containerA{
        display: flex;
        flex-direction: column;         
        width: 73vw;
        margin: 0 auto;
    }


    .news-containerA__link:nth-child(n){
        display: flex;
        height: 20rem;
        width: 70vw;
        margin:0 auto;
    }

    .news-containerA__link:nth-child(4){
        width: 70vw;
    }

    .news-containerA__link:nth-child(4) img{
        border-radius: 2rem;
        width: 40vw;
        height: 20rem;
    }
}

@media screen and (max-width:500px) {

    .news-containerA{
        width: 90vw;
    }          

    .news-containerA__link:nth-child(1){
        line-height: 1.3rem;
    }
          

    .news-containerA__link:nth-child(n){
        display: flex;
        height: 30vh;
        width: 90vw;
        margin:0 auto;
    }

    .news-containerA__link:nth-child(4) img{
        border-radius: 2rem;
        width: 50vw;
        height: 30vh;
    }
    .news-containerA__link:nth-child(4){
        font-size: .76rem;
    }
}




 
 
