.news-trend{
    width: 73vw;
    margin:0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.news-trend__list{
    display: flex;
    margin:0 auto;
    gap: 1.2rem;
}

.news-trend__title{
    color: #DEDEDE;
    margin-bottom: 1.1rem;
}

.news-trend__item{
    margin-left: -.1rem;
    line-height: 1.5rem;
}

.news-alert__covid19{
    color: #00B598;
}

.news-trend__item h3{
    color: #292929;
}

.news-trend__item p {
    color: #626262;
}


@media screen and (max-width:1024px) {
    .news-trend__list{
        flex-direction: column;
        margin:0 auto;
    }
}


