.news-containerA{
    display: grid;
    grid-template-areas: "news-containerA__link news-containerA__link news-containerA__link"
                         "news-containerA__link  news-containerA__link";
    width: 85vw;
    margin: auto;
}

 

.news-containerA__link:nth-child(1){ 
    background-image: url(/css/desktop/main/imagens/dragas-atracam-rio-amazonia-1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 2rem;
    display: block;
    height: 54vh;
    width: 41vw;
    margin-right: 6rem;
}


.news-containerA .headlineSub-content{
    margin-top: 20%;
    margin-left: 1rem;
}

