.container-acess__news{
    width: 40vw;
    height: 22.3rem;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}


.container-acess__image{
    display: flex;
    margin:0 auto;
    height: 15rem;
    transform: rotate(-35deg);
    position: relative;
    z-index: 0;
}

.container-acess__news h2{
    margin-left: 2rem;
}

.container-acess__btnBase{
    border-radius: 0rem 0rem 2rem 2rem;
    background-color: #00B598;
    padding: 2rem;
    z-index: 2;
}

.container-acess__button{
    align-items: center;
    border-radius:3rem;
    border: none;
    background-color: white;
    color:#00B598;
    cursor: pointer;
    display: flex;
    font-size: medium;
    font-weight: bold;
    height: 1.5rem;
    justify-content: center;
    margin:0 auto;
    width: 8rem;
}