 
 .box__third{
    margin-top: 4rem;

}

.news-containerC__title{
    width: 73vw;
    margin:0 auto;
    margin-bottom: 1rem;
}
 

.news-contanerC__content {
    display: flex;
    margin:0 auto;
    width: 73vw;
}

.news-containerC__list{
    
    display: grid;
    grid-template-areas: "grid-3-1 grid-3-1 grid-3-7 grid-3-8"
                         "grid-3-2 grid-3-2 grid-3-7 grid-3-8";  
    margin-left: -2rem; 
}
 
 

 
.news-containerC__item img{
    width: 17.2vw;
    border-radius: 1.5rem;
}

.grid-3-1{
    width: 35vw;
    grid-area: grid-3-1;
     
}
.grid-3-2{
    width: 35vw;
    grid-area: grid-3-2;
}
.grid-3-7{
    grid-area: grid-3-7;
}
.grid-3-8{ 
    grid-area: grid-3-8;
}


.Formulario-containerC__base{
    background-color: #EDEDED;
    border-radius: 1.2rem;
    text-align: center;
    padding: 2.6rem;
    height: 15rem;
    line-height: 1rem;
    width: 12.2vw;
    margin-bottom: 1.5rem;
}

.Formulario-containerC__base h2, p{
    margin-bottom: 1rem;  
}
.Formulario-containerC__base input{
    margin-top: 1rem;
}

 

.enquete-button{
    background: #00B598 0% 0% no-repeat padding-box;
    border-radius: 6rem;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: .5rem;
    height: 2rem;
    width: 6rem;
}

 

.mega-sena__base{
    background-color: #EDEDED;
    border-radius: 1.2rem;
    text-align: center;
    padding: 2.6rem;
    height: 15rem;
    line-height: 1.7rem;
    width: 12.2vw;
    margin-left: .5rem;
}

.mega-sena__sorteio{
    background-color: #00B598;
    border-radius: 1rem;
    color: white;
    padding: .5rem;
    margin: .5rem;
    line-height: 3.5rem;
    font-weight: bold;
}

.news-containerC__item h3{
    color:#292929;
}
.news-containerC__item p{
    color:#626262;
    margin-top: .5rem;
}
 

.news-containerC__item:nth-child(3){
    width: 17vw;
}
.news-containerC__item:nth-child(4){
    width: 17vw;
}
.news-containerC__item:nth-child(5){
    width: 17vw;
}
.news-containerC__item:nth-child(6){
    width: 17vw;
}
.news-containerC__item:nth-child(7){
    width: 17vw;
}
.news-containerC__item:nth-child(8){
    width: 17vw;
}

.news-containerC__link:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
 

@media screen and (max-width:1024px){
    .news-containerC__list{
        display: flex;
        flex-direction: column;
        margin:none;
        width: 70vw;   
    }

    .news-containerC__item:nth-child(n){
        width: 70vw;
        margin-bottom: .7rem;
    }

    .news-containerC__link img{
        width: 40vw;
    }

    .Formulario-containerC__base{
        height: auto;
        width: 70vw;
    }

    .mega-sena__base{
        height: auto;
        width: 70vw;
        margin-bottom: 1rem;
    }

    .news-containerC__item:nth-child(7) img{
        width: 73vw;
    }
    .news-containerC__item:nth-child(8) img{
        width: 73vw;
    }
    .news-containerC__item:nth-child(6) img{
        width: 73vw;
    }
    .news-containerC__item:nth-child(5) img{
        width: 73vw;
    }
}

@media screen and (max-width:500px) {

    .news-containerC__link:nth-child(1){
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .news-containerC__item:nth-child(1) img{
        width: 73vw;
        height: 12rem;
    }
    .news-containerC__item:nth-child(2) img{
        width: 73vw;
        height: 12rem;
    }
}



