.navbar-search{
    align-items: center;
    border: 1px solid grey;
    border-radius: 20rem;
    display: flex;
    margin-left: 2rem; 
}

.navbar-search__btn{
    cursor: pointer;
    color: #00B598;
    border: none;  
    background-color: transparent;
    padding: .5rem;
}

.navbar-search__local{
    border: none;
    border-radius: 20rem;
    height: 2rem;  
    outline: none;
    padding: .5rem;
    width: 14rem;
}

@media screen and (max-width: 1024px) {
    .navbar-search, .navbar-search__local{
        display: flex;
        width: 70vw;
        margin: 0 auto;
    }
}