

.navbar-icons-cotation{ 
    align-items: center;
    background-color: #00B598; 
    display: flex;
    height: 2.25rem;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar-teste{
    display: flex;
    align-items: center;
    margin: auto;
    width: 85vw;
}

.navbar-icons__list{
    margin: 0 auto;
    width: 85vw;
}

.navbar-icons__list, .navbar-cotation__list{
    display: flex;
    flex-direction: row;
}

.navbar-icons__item{
    margin: 0rem;
}



.navbar-icons__link, .navbar-cotation__link{
    color: white;
}

.navbar-icons__link:hover, .navbar-cotation__link:hover{
    color: rgb(206, 206, 206);
}


@media screen  and (max-width:500px){

    .navbar-icons-cotation{
        flex-direction: column-reverse;
    }

    .navbar-icons__list, .navbar-cotation__list{
        margin: auto;
    }

    .navbar-icons__link, .navbar-cotation__link{
        padding: .1rem;
    }
} 


