
.navbar-icons-cotation{
    background-color: #00B598;
    display: flex;
    height: 2.25rem;
    justify-content: space-between;
    align-items: center;
}

.navbar-icons__list{
    margin-left: 10rem;
}

.navbar-cotation__list{
    margin-right: 2.25rem;
}

.navbar-icons__list, .navbar-cotation__list{
    display: flex;
    flex-direction: row;
}


.navbar-icons__link, .navbar-cotation__link{
    color: white;
    padding: .9rem;
}

.navbar-icons__link:hover, .navbar-cotation__link:hover{
    color: rgb(206, 206, 206);
}



