.read-time{
    color: #FFFFFF;
    font-size: .70rem;
    opacity: 1;
    margin-left: 1.5rem;
}

.read-timeB__ComNome{
    color: #FFFFFF;
    font-size: .70rem;
}

.read-timeD__ComNome{
    color: #FFFFFF;
    font-size: .70rem;
}

.read-time::before{
    content: '';
}

.read-timeCinza{
    color: #626262;
    font-size: .70rem;
}

.read-timeVerde{
    color: #00B598;
    font-size: .70rem;
    margin:0;
}

.read-timeVerdeEscuro{
    font-size: .70rem;
    color:#005102;
}

