@media screen and (max-width:1024px) {

    .navbar-icons-cotation{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }

    .navbar-icons__list, .navbar-cotation__list{
        margin: 0 auto;
    }

    .navbar-icons__link, .navbar-cotation__link{
        color: white;
        padding: .5rem;
    }
}